* {
  margin: 0;
  padding: 0;
}

html {
  background-color: white;
  color: black;
  font-family: -apple-system, Helvetica, sans-serif;
  font-size: 1.25em;
  font-weight: 400;
}

header {
  background-color: gray;
  background-image: url("strip.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  box-sizing: border-box;
  color: white;
  display: block;
  height: 66.66vw;
  padding: 3vw;
  width: 100%;
}

nav {
  background-color: black;
  border-radius: .5rem;
  display: block;
  opacity: .7;
  padding: 1rem;
  width: auto;
}

main {
  margin: 2rem auto;
  max-width: 64ch;
  padding: 0 2rem;
}

h1 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: .05em;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.2;
  padding: 0 0 .5rem;
}

p {
  -webkit-hyphens: auto;
  hyphens: auto;
  padding: 0 0 .5rem;
}